branches:
  only:
  - master
addons:
  apt:
    update: true
    packages:
    - aspell
    - aspell-en
script:
- scripts/detectAvoidWords.sh
- scripts/checkSpelling.sh
notifications:
  email:
    recipients:
    - secure: gqhrOit3HqFEr3Z95gmXgfhzbODZtvR2KXi0myS3ZmZISpOR4i4onbD6SW19uK6V2a6SVkTJgm6efMyyTfcywcRg2keEqu4KnrRH1wsP+FmaumdtC2avsvSjblidAXqWoXrHDsg+NQmJf468WctZ+3uRBl16hS1jUcZkoEaHHtVnQZXrQlH+gXWgOneHB11xiacsiUanBtizHA0hb1zI8N3Bw3O7pMlSPeAxWZpUaVQiZ42P9elZ0mlYs5fT6tAXBwpOPWi2pDtRh/swEjsRz1bdwT1immPzCmXq7IcFABS9Oda+r0Ik+FX04Jlipk1lXIKZQbKsbuNKGewyAPBcOlQxUPNhL1YqwtId+DiWtzoTK22FLmS9okRLEJm5dvOqYnUZlu7fBhs1MTN0pW4Gd0z/yztr4hoVUJNTolI9HgsPF4m/rRfHfZv7TioGP5+OJqT7V/mb1Zj+WgIXKgWp/Xy2YWwHl36oBe7Go53S/LisxerwO0CXBUu19UoiziX46eVDEuzs3n0tJnggjledZ7I/F25PCYnMgSsuwzdhHSPKdg05v0XjNzte94r9b+x5nSSkMCNbt0GjP/bKRWUsbagbicZzkM++LgWNN6BgW6E+lCfeT9WfJFU9WEkN2Udnw91SeUvURqocPuVenoJze1CyxIiPqVS+VOhnJkpCAZI=
    on_success: never
    on_failure: always
